{{#*inline "effectRow"}}
  <li class="directory-item entry document item flexrow aem-drop-target" data-entry-id="{{effect.id}}" data-effect-id="{{effect.id}}" data-folder-id="{{effect.folder}}" data-sort-before="true">
    <img class="thumbnail" src="{{effect.img}}" alt="{{effect.name}}" loading="lazy">
    <a class="entry-name ellipsis" data-action="activateEntry">{{effect.name}}</a>
  </li>
{{/inline}}

{{#*inline "folderRow"}}
  <li class="directory-item folder flexcol {{#if folder.expanded}}expanded{{/if}}" data-folder-id="{{folder.id}}">
    <header class="folder-header aem-drop-target" data-action="toggle-folder" data-folder-id="{{folder.id}}" {{#if folder.color}}style="background-color: {{folder.color}};"{{/if}}>
      <i class="fa-solid {{#if folder.expanded}}fa-folder-open{{else}}fa-folder{{/if}} fa-fw" inert></i>
      <span class="folder-name ellipsis">{{folder.name}}</span>
      {{#if @root.canManage}}
        <button type="button" class="create-button create-folder icon icon-plus {{@root.folderIcon}}" data-action="create-subfolder" data-tooltip aria-label="{{localize 'AEM.NewFolder'}}"></button>
        {{#if folder.expanded}}
          <button type="button" class="create-button create-entry icon icon-plus {{@root.effectCreateIcon}}" data-action="create-effect-in-folder" data-tooltip aria-label="{{localize 'AEM.NewEffect'}}"></button>
        {{/if}}
      {{/if}}
    </header>

    {{#if folder.expanded}}
      <ol class="subdirectory plain aem-drop-target" data-folder-id="{{folder.id}}" {{#if folder.color}}style="border-left-color: {{folder.color}};"{{/if}}>
        {{#each folder.folders as |childFolder|}}
          {{> folderRow folder=childFolder}}
        {{/each}}
        {{#each folder.effects as |effect|}}
          {{> effectRow effect=effect}}
        {{/each}}
      </ol>
    {{/if}}
  </li>
{{/inline}}

<header class="directory-header flexcol">
  {{#if canManage}}
    <div class="header-actions action-buttons flexrow">
      <button type="button" class="create-entry" data-action="create-effect">
        <i class="{{effectCreateIcon}}" inert></i>
        <span>{{localize "AEM.NewEffect"}}</span>
      </button>
      <button type="button" class="create-folder" data-action="create-folder">
        <i class="{{folderIcon}}" inert></i>
        <span>{{localize "AEM.NewFolder"}}</span>
      </button>
    </div>
  {{/if}}

  <search>
    <button type="button" class="inline-control toggle-search-mode icon {{searchMode.icon}}" data-action="toggle-search-mode" data-tooltip aria-label="{{localize searchMode.label}}"></button>
    <input type="search" name="search" value="{{search}}" autocomplete="off" placeholder="{{searchMode.placeholder}}" aria-label="{{searchMode.placeholder}}">
    <button type="button" class="inline-control toggle-sort icon {{sortMode.icon}}" data-action="toggle-sort-mode" data-tooltip aria-label="{{localize sortMode.label}}"></button>
    <button type="button" class="inline-control collapse-all icon fa-duotone fa-folder-tree" data-action="collapse-folders" data-tooltip aria-label="{{localize 'AEM.CollapseFolders'}}"></button>
  </search>
</header>

<section class="directory scrollable aem-directory aem-drop-target" data-folder-id="">
  {{#if hasContent}}
    <ol class="directory-list plain">
      {{#each rootFolders as |folder|}}
        {{> folderRow folder=folder}}
      {{/each}}
      {{#each rootEffects as |effect|}}
        {{> effectRow effect=effect}}
      {{/each}}
    </ol>
  {{else}}
    <div class="aem-empty">
      <p>{{localize "AEM.Empty"}}</p>
      <p>{{localize "AEM.EmptyHint"}}</p>
    </div>
  {{/if}}
</section>
